[tool.poetry]
name = "netlify-builds"
version = "0.3.0"
description = "A command line utility to check build usage across multiple Netlify accounts"
authors = ["Bruno Alla <alla.brunoo@gmail.com>"]
license = "MIT"
readme = "README.md"
repository = "https://github.com/browniebroke/netlify-builds"
classifiers = [
    "Development Status :: 2 - Pre-Alpha",
    "Intended Audience :: Developers",
    "Natural Language :: English",
    "Operating System :: OS Independent",
    "Topic :: Software Development :: Libraries",
]
packages = [
    { include = "netlify_builds", from = "src" },
]

[tool.poetry.urls]
"Bug Tracker" = "https://github.com/browniebroke/netlify-builds/issues"
"Changelog" = "https://netlify-builds.readthedocs.io/changelog.html"

[tool.poetry.scripts]
netlify-builds = "netlify_builds.cli:main"

[tool.poetry.dependencies]
python = "^3.7"
httpx = "^0.23.0"
python-dateutil = "^2.8"
rich = "<13"

[tool.poetry.dev-dependencies]
pytest = "^7.0"
pytest-asyncio = "^0.20.0"
pytest-cov = "^4.0"
pytest-mock = "^3.3"
respx = "^0.20.0"
time-machine = "^2.0"

[tool.semantic_release]
branch = "main"
version_toml = "pyproject.toml:tool.poetry.version"
version_variable = "src/netlify_builds/__init__.py:__version__"
build_command = "pip install poetry && poetry build"

[tool.pytest.ini_options]
addopts = "-v -Wdefault --cov=src"
pythonpath = ["src"]
asyncio_mode = "auto"

[tool.isort]
profile = "black"
known_first_party = ["netlify_builds", "tests"]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
